@tailwind base;
@tailwind components;
@tailwind utilities;

.SVGGrid-circle {
  fill: navy;
  stroke: navy;
}

.SVGGrid-circle:hover,
.SVGGrid-circle:active {
  fill: blue;
}

.SVGGrid-line {
  fill: navy;
  stroke: navy;
}

.letter-opt:hover {
  background-color: rgba(148, 163, 184, 0.5);
}

.letter-opt.selected {
  background-color: rgb(148 163 184);
  animation-name: circle-click;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.letter-opt.found {
  background-color: rgb(96 165 250);
}

@keyframes circle-click {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.8;
  }
  100% {
    scale: 1;
  }
}

.SVGGrid-line:hover {
  fill: red;
  stroke: red;
}

.hint-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  height: 46px;
  width: 150px;
  border: 2px solid #ccc;
  font-weight: bold;
  color: #ccc;
  font-size: 18px;
  margin: 0px auto;
  cursor: pointer;
  transition: scale 0.3s;
}

.hint-btn:active {
  scale: 0.9;
}
